<div class="row">
    
    <nav class="col-md-12 navbar navbar-dark bg-dark justify-content-between">
      <div class="container">
        <a class="navbar-brand" class="text-white">Consultoria para el nicio de cursos</a>
        <form class="form-inline">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="callregister()">Registrarme</button>
        </form>
      </div>
      </nav>
      
    </div>
    <div class="row"><br /><br /></div>
    <div class="col-md-5 offset-md-5 col-sm-12">
        <h1>
            Iniciar sesion 
        </h1>
    </div>
    <div class="row"><br /></div>
    <div class="row">
        <div class="col-md-5 offset-md-5 col-sm-12">
          <form autocomplete="off">
            <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
                <label for="inputNombre">Carne</label>
                <input  name="nombre"  placeholder="201603189" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="text" class="form-control" id="inputNombre"  [disabled]="editable"  required  [(ngModel)]="newuser.carne">
              </div>
              
            </div>
            
            <div class="form-row">
              
              <div class="form-group col-md-6 col-sm-12">
                <label for="inputPassword">Contraseña</label>
                <input  name="password" type="password" class="form-control" id="inputPassword" placeholder="Contraseña" [disabled]="editable"  required [(ngModel)]="newuser.password">
              </div>
              
            
            </div>
            
            
                
                  
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-12">
                        <button type="submit"  class="btn btn-success btn-lg btn-block" (click)="saveuser()" [disabled]="editable" >Iniciar sesion </button>
                    </div>
                    
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 col-sm-12">
                <div class="d-flex justify-content-center links">
                  <a href="recovery">Forgot your password?</a>
                </div>
              </div>
            </div>
             
          </form>
        </div>
      </div>
      <div class="row"><br /><br /></div>
<app-footer></app-footer>