<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a routerLink="/inicio" class="navbar-brand">Consultoria para el nicio de cursos</a>
      
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li id="perfil" class="nav-item" [hidden]="perfil">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Perfil</a>
          </li>
          <li id="comprarGiftCards" class="nav-item" [hidden]="carrito">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Comprar GiftCards</a>
          </li>
          <li id="carrito" class="nav-item" [hidden]="carrito">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Mi carrito</a>
          </li>
          <li id="regalar" class="nav-item" [hidden]="perfil">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Regalar</a>
          </li>
          <li id="historialCompras" class="nav-item" [hidden]="perfil">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Historial Compras</a>
          </li>
          <li id="inventarioGiftCards" class="nav-item" [hidden]="perfil">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inventario</a>
          </li>
          <li id="iniciarSesion" class="nav-item" [hidden]="iniciarSesion">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active" >Iniciar Sesion</a>
          </li>
          <li id="registrarse" class="nav-item" [hidden]="registrarse">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Registrarse</a>
          </li>

          <li id="detalleregaslo" class="nav-item" [hidden]="detalleregaslo">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active" >Detalle de Regalor realizados</a>
          </li>
          <li id="catalogo" class="nav-item" [hidden]="catalogo">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Catalogo</a>
          </li>


          <li id="cerrarSesion" class="nav-item" [hidden]="cerrar">
            <a class="nav-link" routerLink='/login' (click)='cerrarSesion()' routerLinkActive="active">Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
